
body main {
    padding: 0;
    width: 100%;
}

/*nav bar*/
nav {
    width: 100%;
    background-color: black;
    line-height: 6em;
    opacity: 0.9;
    position: fixed;
    font-family: 'Markazi Text', serif;
}

nav a {
    margin-right: 10%;
    color: snow;
    font-size: 2em;
}

/*main {
    padding-top:44em;
}*/